$fraudio-background-color: #222 !default;
$fraudio-progress-color: rgb(60, 0, 60) !default;
$fraudio-progress-line-color: #bbb !default;
$fraudio-play-button-color: #aaa !default;
$fraudio-title-color: #aaa !default;
$fraudio-artist-color: #bbb !default;