$fraudio-background-color: #222;
$fraudio-progress-color: rgb(60, 0, 60);
$fraudio-progress-line-color: #bbb;
$fraudio-play-button-color: #aaa;
$fraudio-title-color: #aaa;
$fraudio-artist-color: #bbb;